/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@200&display=swap');
/* Styling for pc */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: black;
}
.container{
    text-align: center;
  }

    .nav {
    	height: 100%;
    	width: 0;
    	position: fixed;
    	z-index: 10;
    	top: 0;
    	left: 0;
    	background-color: #111;
    	overflow-x: hidden;
    	padding-top: 60px;
    	transition: 0.7s;
    }
    .nav a {
    	display: block;
    	padding: 20px 30px;
    	font-size: 25px;
    	text-decoration: none;
    	color: #ccc;
    }
    .nav a:hover {
    	color: white;
    	transition: 0.4s;
    }
    .nav .close {
    	position: absolute;
    	top: 0;
    	right: 22px;
    	margin-left: 50px;
    	font-size: 30px
    }

.slide a {
	color: white;
	font-size: 36px;
}
#navmain {
	padding: 20px;
  transition: margin-left 0.7s;
  width: 10%;
  overflow: hidden;
}

.heading {
    margin-top: 10rem;
    font-size: 1000;
    transition: 2s ease;
    display: inline-block;
    font-size: 100px;
    line-height: 0.9;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(96deg,#0fbfae, #0884c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }
.heading:hover{
        letter-spacing: 10px;
}
.quote{
    font-family: 'Raleway', sans-serif;
    font-size: 500;
    color: #eee;
}
.down{
    transform:rotate(90deg);
    font-family: 'Roboto', sans-serif;
    color: #eee;
    cursor: pointer;
    font-weight: 850;
    margin-top: 7.5rem;
    transition: 0.5s ease;
}
.down:hover{
    margin-top: 8rem;
}
.team{
    margin-top: 10rem;

}
.headT{
  font-family: 'Lobster',cursive;
  font-size: 60px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .social,ul{

    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .team img{
    width:300px;
    height:300px;
    border-radius: 10px;
}
.back-content{
  margin-top: 6.5rem;
}
.social i{
  font-size: 20px;
}
.social a{
   color: white;
   cursor: pointer;
   transition: 200ms ease;
}
.social a:hover{
  transform: translate(1.2);
}
.team h1{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: linear-gradient(96deg,#0fbfae, #0884c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
  font-family: 'Poppins', sans-serif;
}
.btn{
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  background: transparent;
  color: #111;
  font-size: 15px;
  transition: all 0.3s;
}
.btn:hover{
  color: #eee;
}
.form-modal{
  width: 100%;
  height: 145%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content{
  font-weight: 700;
  border-radius: 10px;
  width: 450px;
  background: #fff;
  padding: 20px;
  position: relative;
  animation: visible 1s 1;
  animation-fill-mode: forwards;
}
@keyframes visible{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.content-wrapper{
  opacity: 0;
  animation: toRight 1s 500ms 1;
  animation-fill-mode: forwards;
}
@keyframes toRight{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.closehoja{
  position: absolute;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3s;
}
.closehoja:hover {
  transform: scale(1.4)
  rotate(-45deg);
}
img{
  width: 120px;
  display:block;
  margin: 0 auto;
}
input,textarea{
  font-weight: 700;
  width: 60%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  outline: none;
  border: 1px solid #eee;
}
textarea{
  font-weight: 700;
  max-width: 60%;
  min-width: 100px;
}
.submit{
  font-weight: 700;
  display: block;
  margin: 30px auto;
  border: black 1px solid;
  border-radius: 5px;
  padding: 10px;
  background: transparent;
  transition: 800ms ease;
}
.submit:hover{
  transform: translateY(-8px);
  background: black;
  color: white;
}
.footer{
  background: #09c;
  padding: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0884c2;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#myBtn:hover {
  transition: ease 1s;
  background-color: #0fbfae;
}
/*  Responsiveness */
